---
title: 'Minha Landing Page'
layout: 'base.njk'
---

<!-- index.njk -->
<section id="banner">
  <div class="banner-container">
    <p class="greeting">QUE BOM TE VER AQUI!</p>
    <h1 class="title">WORKSHOP SINTONIZE</h1>
    <p class="subtitle">Dê o primeiro passo para uma jornada de bem-estar e equilíbrio emocional.</p>
    <p class="details">Dia 22/02/2025, das 9h às 11h30<br>Online no Meet</p>
    <a href="https://payfast.greenn.com.br/92677" target="_blank" class="cta-button">QUERO ME INSCREVER</a>
  </div>
</section>

</section>
