---
title: 'Workshop Sintonize | Tamara Bitencourt'
layout: 'base.njk'
---

<!-- index.njk -->
<section id="banner">
  <div class="banner-container">
    <img
      class="logo"
      src="/public/images/logo-white.png"
      alt="Logo Tamara Bitencourt"
    />
    <p class="greeting">QUE BOM TE VER AQUI!</p>
    <h1 class="title">WORKSHOP SINTONIZE</h1>
    <p class="subtitle">
      Dê o primeiro passo para uma jornada de bem-estar e equilíbrio emocional.
    </p>
    <p class="details">Dia 22/02/2025, das 9h às 11h30<br />Online no Meet</p>
    <a
      href="https://payfast.greenn.com.br/92677"
      target="_blank"
      class="cta-button"
      onclick="gtag_report_conversion('https://payfast.greenn.com.br/92677');"
    >
      QUERO ME INSCREVER
    </a>
  </div>
</section>

<section id="benefits">
  <div class="benefits-container">
    <ul class="benefits-list">
      <li>
        ✅ Como desenvolver o autocontrole para lidar com situações desafiadoras
        em sala de aula.
      </li>
      <li>
        ✅ Estratégias para a autoregulação emocional e como aplicá-las no
        ambiente escolar.
      </li>
      <li>
        ✅ Técnicas práticas para reduzir o estresse e melhorar seu bem-estar no
        trabalho.
      </li>
      <li>
        ✅ Como usar a inteligência emocional para fortalecer sua relação com os
        alunos e colegas.
      </li>
    </ul>
    <a
      href="https://api.whatsapp.com/send?phone=555193164924&text=Ol%C3%A1!%20Quero%20saber%20sobre%20o%20Workshop%20Sintonize."
      target="_blank"
      class="contact-button"
      >Quer falar comigo antes? Clica aqui!</a
    >
  </div>
</section>

<section id="instructor">
  <div class="instructor-container">
    <div class="instructor-text">
      <h2>Um pouco da minha história...</h2>
      <p>
        Iniciei minha carreira docente na Educação Infantil, aos 17 anos. Desde
        lá, acumulei experiências nos Anos Iniciais e Finais do Ensino
        Fundamental, na Educação de Jovens e Adultos, no Ensino Médio e no
        Ensino Superior.
      </p>
      <p>
        Em 2012, abri minha primeira empresa de consultoria pedagógica que,
        embora com reformulações e atualizações, administro até hoje.
      </p>
      <p>
        Ao longo destes anos, estive em diferentes estados, municípios e escolas
        fazendo palestras para professores, coordenadores pedagógicos e gestores
        escolares.
      </p>
      <p>
        Além da formação de professores, atuo como Terapeuta Integrativa,
        Consultora de Bem-estar, Mentora de Desenvolvimento e Coach.
      </p>
      <p>
        Sou casada com o Vinícius, mãe do Matheus (16 anos) e madrasta da Bruna
        (20 anos), do Eduardo (11 anos) e do Gabriel (9 anos).
      </p>
    </div>
    <div class="instructor-image">
      <img src="/public/images/instructor.jpg" alt="Foto da instrutora" />
    </div>
  </div>
</section>

<section id="finally">
  <div class="finally-container">
    <h2>O WORKSHOP SINTONIZE É PARA PROFISSIONAIS DA EDUCAÇÃO QUE SÃO</h2>
    <div class="features">
      <div class="feature">
        <h3>Profissionais engajados</h3>
        <p>
          O Workshop é para profsissionais autorresponsáveis, engajados e que se
          valorizam.
        </p>
      </div>
      <div class="feature">
        <h3>Profissionais focados em soluções</h3>
        <p>
          Para profissionais que sabem de todas as demandas que exigem trabalhar
          com educação e que buscam soluções para os desafios.
        </p>
      </div>
      <div class="feature">
        <h3>Profissionais que se cuidam</h3>
        <p>
          Para profissionais que não abrem mão de qualidade de vida, bem-estar e
          saúde emocional e mental.
        </p>
      </div>
    </div>
    <a
      href="https://payfast.greenn.com.br/92677"
      target="_blank"
      class="cta-button-end"
      onclick="gtag_report_conversion('https://payfast.greenn.com.br/92677');"
    >
      QUERO GARANTIR A MINHA VAGA
    </a>
    <footer>
      <p>TODOS OS DIREITOS RESERVADOS<br />TAMARA BITENCOURT®</p>
    </footer>
  </div>
</section>

<a
  href="https://api.whatsapp.com/send?phone=555193164924&text=Ol%C3%A1!%20Quero%20saber%20sobre%20o%20Workshop%20Sintonize."
  target="_blank"
  style="
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    z-index: 1000;
    overflow: hidden;
    transition: opacity 0.3s ease; /* Suaviza a transição */
  "
  onmouseover="this.style.opacity='0.9';"
  onmouseout="this.style.opacity='1';"
>
  <img
    src="/public/images/whatsapp.png"
    alt="WhatsApp logo"
    style="max-width: 60px"
  />
</a>
