<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ site.site_name }}</title>
    <meta name="description" content="{{ site.site_description }}" />

    <link rel="icon" href="{{ site.favicon }}" type="image/png" />
    <link rel="stylesheet" href="/public/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <!-- Open Graph (OG) - Compartilhamento no WhatsApp, Facebook -->
    <meta
      property="og:title"
      content="{{ site.og_title | default : site.site_name }}"
    />
    <meta
      property="og:description"
      content="{{ site.og_description | default : site.site_description }}"
    />
    <meta
      property="og:image"
      content="{{ site.og_image | default : '/public/images/instructor.jpg' }}"
    />
    <meta
      property="og:url"
      content="{{
        site.site_url | default : 'https://sintonize.proftamara.com'
      }}"
    />
    <meta
      property="og:type"
      content="{{ site.og_type | default : 'website' }}"
    />

    <!-- Twitter Card - Compatibilidade com Twitter/X -->
    <meta
      name="twitter:card"
      content="{{ site.twitter_card | default : 'summary_large_image' }}"
    />
    <meta
      name="twitter:title"
      content="{{ site.twitter_title | default : site.site_name }}"
    />
    <meta
      name="twitter:description"
      content="{{ site.twitter_description | default : site.site_description }}"
    />
    <meta
      name="twitter:image"
      content="{{ site.twitter_image | default : site.og_image }}"
    />

    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=AW-739658785"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'AW-739658785');
    </script>

    <!-- Google Ads Conversion Event -->
    <script>
      function gtagSendEvent(url) {
        var callback = function () {
          if (typeof url === 'string') {
            window.location = url;
          }
        };
        gtag('event', 'ads_conversion_Contato_1', {
          'event_callback': callback,
          'event_timeout': 2000,
        });
        return false;
      }
    </script>
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>
