<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Site.Title }}</title>
    <meta name="description" content="{{ .Site.Params.subtitulo }}" />
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}"> <link
    rel="icon" href="{{ "favicon.png" | relURL }}" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <!-- Logo and Anchor Buttons Section -->
      <div class="header">
        <img src="{{ .Site.Params.logo | relURL }}" alt="Logo do Produto" />
        <nav class="anchor-buttons">
          <a href="#missao" class="anchor-link">MISSÃO</a>
          <a href="#contato" class="anchor-link">CONTATO</a>
        </nav>
      </div>

      <!--
      <section id="intro" class="intro-section">
        <p>{{ .Site.Params.intro }}</p>
        <div class="button-section">
          <a
            href="{{ .Site.Params.cta_link }}"
            class="cta-button"
            target="_blank"
            >ENTRE EM CONTATO</a
          >
        </div>
      </section>
      -->

      <!-- Divisória com Título da Seção -->
      <div class="section-divider">
        <h1 class="section-title">ÁREAS DE ATUAÇÃO</h1>
      </div>
      <!-- Seção de Atuação -->
      <section class="atuacao-section">
        <div class="atuacao-card">
          <h3>Tribunal do Júri</h3>
        </div>
        <div class="atuacao-card">
          <h3>Delitos de Trânsito</h3>
        </div>
        <div class="atuacao-card">
          <h3>Processos Criminais em geral</h3>
        </div>
        <div class="atuacao-card">
          <h3>Flagrantes</h3>
        </div>
        <div class="atuacao-card">
          <h3>Audiência de Custódia</h3>
        </div>
        <div class="atuacao-card">
          <h3>Habeas Corpus</h3>
        </div>
        <div class="atuacao-card">
          <h3>Recursos Criminais</h3>
        </div>
        <div class="atuacao-card">
          <h3>Direito do Passageiro Aéreo</h3>
        </div>
        <div class="atuacao-card">
          <h3>Direito Bancário</h3>
        </div>
      </section>
      <!-- Divisória com Título da Seção -->
      <div class="section-divider" id="missao">
        <h1 class="section-title">Missão, Visão e Valores</h1>
      </div>
      <!-- Seção de Missão, Visão e Valores -->
      <section id="principles" class="principles-section">
        <div class="principle-column">
          <div class="principle-card">
            <h3>Missão</h3>
            <p>
              Defender com dedicação e ética os direitos dos clientes, de forma
              artesanal, garantindo um processo justo e honesto, enquanto
              construímos uma carreira baseada em confiança e integridade.
            </p>
          </div>
          <div class="principle-card">
            <h3>Visão</h3>
            <p>
              Tornar-se uma referência em defesa criminal, reconhecido pela
              excelência, ética e compromisso com a justiça, contribuindo para
              um sistema jurídico mais justo.
            </p>
          </div>
        </div>
        <div class="principle-card values-card">
          <h3>Valores</h3>
          <ul>
            <li>
              <strong>Ética:</strong> Atuar com integridade e transparência em
              todas as etapas do processo, garantindo que cada ação seja guiada
              por princípios morais sólidos.
            </li>
            <li>
              <strong>Compromisso:</strong> Dedicação à defesa dos direitos dos
              clientes, buscando sempre os melhores resultados possíveis.
            </li>
            <li>
              <strong>Dedicação:</strong> Esforçar-se continuamente para
              entregar um trabalho de alta qualidade, com foco no
              aperfeiçoamento profissional e na superação das expectativas.
            </li>
            <li>
              <strong>Empatia:</strong> Tratar cada cliente com respeito e
              compreensão, reconhecendo a individualidade de cada caso e a
              importância de um atendimento humanizado.
            </li>
            <li>
              <strong>Confiança:</strong> Construir relações baseadas na
              confiança mútua, sendo transparente e honesto em todas as
              interações.
            </li>
          </ul>
        </div>
      </section>

      <!-- Divisória com Título da Seção -->
      <div class="section-divider" id="contato">
        <h1 class="section-title">CONTATO</h1>
      </div>

      <!-- Seção de Contato -->
      <section class="contato-section">
        <p class="contato-info"><strong>WhatsApp:</strong> (51) 994 830 348</p>
        <p class="contato-info">
          <strong>E-mail:</strong> mauriciorseixas@gmail.com
        </p>
      </section>
      <!-- Seção Especialista -->
      <section class="lawyer-info-wrapper">
        <!-- Missão, Visão e Valores -->

        <!-- Imagem e Informações do Advogado -->
        <div class="lawyer-section">
          <img
            src="{{ .Site.Params.lawyer | relURL }}"
            alt="Banner do Produto"
          />
        </div>
        <div class="info-section">
          <p class="resumo" style="margin-bottom: 10px">
            <strong>Maurício Seixas</strong>{{ .Site.Params.resumo1 }}
          </p>

          <p class="resumo">{{ .Site.Params.resumo2 }}</p>
        </div>
      </section>

      <!-- Seção de Rodapé -->
      <footer class="footer-section">
        <p>
          &copy; 2024 <strong>Maurício Seixas</strong><br />Todos os direitos
          reservados.
        </p>
      </footer>
      <a
        href="https://api.whatsapp.com/send?phone=5551994830348&text=Ol%C3%A1!%20Gostaria%20de%20conversar%20com%20um%20advogado."
        target="_blank"
        style="
          position: fixed;
          bottom: 20px;
          right: 20px;
          background-color: #fff;
          color: white;
          border-radius: 50%;
          width: 60px;
          height: 60px;
          display: flex;
          z-index: 1000;
          overflow: hidden;
        "
      >
        <img src="{{ "images/whatsappGrad.png" | relURL }}" alt="WhatsApp logo"
        style="max-width: 60px;">
      </a>
      <a
        href="tel:+5551994830348"
        target="_blank"
        style="
          position: fixed;
          bottom: 100px;
          right: 20px;
          border-radius: 50%;
          width: 60px;
          height: 60px;
          display: flex;
          z-index: 1000;
          overflow: hidden;
        "
      >
        <img src="{{ "images/phonecallGrad.png" | relURL }}" alt="WhatsApp logo"
        style="max-width: 60px;">
      </a>
    </main>
  </body>
</html>
